@charset "utf-8";

/*广告样式*/
#header .ad {
	overflow: hidden;
	background-color: #999;
}

#header .ad img {
	position:relative;
	transform: translate(-50%);
	left: 50%;
	height: 50px;	
}
/*wrap样式*/
#header .nav {
	height: 30px;
	line-height: 30px;
	background-color: #000;
}
#header .wrap-left .phone-kaola {
	float: left;
	color: #999;
}
#header .wrap-left .phone-kaola img {	
	position: relative;	
	float: left;
	border: 1px solid #999;
	width: 119px;
	top: 40px;
	left: 90px;
}

#header .wrap-left .account a {
	margin-left: 20px;
}
#header .wrap-left .account a:hover {
	color: #fff;
}